/* GERAL */

*{font-family: Arial, Helvetica, sans-serif;}

body.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
}

.navbar ul a.menu-ativo{
    color: rgb(90, 90, 90);
}

.sair-adm{
    text-align: right;
}

.sair-adm a{
    color: #fff;
    text-decoration: none;
    padding: 40px;
}

.sair-adm a:hover{
    color: rgb(100, 100, 100);
}

/* LOGIN */
.login-container{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
    border-radius:3px;
    padding:70px 100px;
}

.login-container h2{
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.input-container{
    position:relative;
    margin-bottom:25px;
}

.input-container label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    color:#fff;	
    pointer-event:none;
    transition: all 0.5s ease-in-out;
}

.input-container input{ 
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#fff;
}

.input-container input:focus{ 
    border:none;	
    outline:none;
    border-bottom:1px solid #e74c3c;	
}

.btn{
    background-color:#fff;
    outline: none;
    border: 0;
    color: #000;
    font-weight: bold;
    padding:10px 20px;
    text-transform:uppercase;
    margin: 20px 0 0 70px;
    border-radius:2px;
    cursor:pointer;
}

.btn:hover{
    color: rgb(100, 100, 100);
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
    top:-12px;
    font-size:12px;     
}

.input-container select{
    width: 300px;
    height: 40px;
    font-size: 16px;
    color: white;
    background: none;
}

.input-container select:focus{
    color: #000;
}

/* CREATE USER */
.create-user-container{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius:3px;
}

#editar p{
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.create-user-container .btn{
    margin: 5px 0 0 90px;
}

body.create-user-body{
    background: #000;
}

/* MSG de erro*/

.msg_erro{
    color: red;
}

/* NAVBAR */

.header{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(32, 32, 32);
    width: 200px;
    height: 100%;
    padding: 15px 0;
    z-index: 10;
    color: #fff;
}

.header-menu{
    border-bottom: 1px solid rgb(90, 90, 90);
}

.header-menu p{
    margin: 15px 0 30px 15px;
    font-size: 14px;
}

.navbar ul li{
    font-size: 12px;
    letter-spacing: .1em;
    line-height: 25px;
    text-transform: uppercase;
    text-align: left;
    padding: 20px;
    list-style: none;
    margin-left: -40px;
}

.navbar ul li:hover{
    border: 1px solid rgb(90, 90, 90);
    cursor: pointer;
    color: rgb(90, 90, 90);
}

.navbar ul a{
    text-decoration: none;
    color: #fff;
}

#floating-button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgb(32, 32, 32);
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
}